CompileFlags:
  Remove:
    - "-gencode*"          # 移除所有多架构生成指令
    - "--generate-code*"   # 同上
    - "-rdc=true"          # 移除可重定位代码标志（补全不需要链接信息）
    - "-Xcompiler*"        # 移除传给宿主编译器的嵌套参数
    - "--expt-*"           # 移除 nvcc 的实验性 C++ 特性标志
    - "-arch=native"       # 防止 clangd 在找不到物理 GPU 时报错
    - "--options-file"     # 移除外部参数文件引用
    - "-forward-unknown-to-host-compiler"
  Add: 
      - "--cuda-gpu-arch=sm_100" 
